# Ignore everything
*

# Allow only these files
!main.js
!main.ts
!manifest.json
!styles.css
!LICENSE
!README.md
!data/
!data/*
!.gitignore
!versions.json
!package.json
!package-lock.json
!esbuild.config.mjs

